@page "/"
@inject NavigationManager NavigationManager;

<div class="component-container">
    <div><h3>Welcome to CS2-Scape!</h3>
        You'll now be guided through the setup process.<br/> Afterwards you can use the full functionality off the App!
    </div>
    <div class="navbtn">
        <button class="btn movenext-btn" @onclick="@MoveNext">Get started</button>
    </div>
</div>