<div class="nav-header">
    <p>CS2-Scape</p>
</div>


<div >
    <nav class="">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-text">Home</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                <span class="nav-text">Counter</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                <span class="nav-text">Weather</span>
            </NavLink>
        </div>
    </nav>
</div>

