@inject NavigationManager Navigation
<div class="nav-header">
    <p>CS2-Scape</p>
</div>


<div >
    <nav class="">
        <div class="nav-item" @onclick='() => GoToPage("")'>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick:preventDefault=true>
                <span class="nav-text">Home</span>
            </NavLink>
        </div>

        <div class="nav-item" @onclick='() => GoToPage("counter")'>
            <NavLink class="nav-link" href="counter" @onclick:preventDefault=true>
                <span class="nav-text">Counter</span>
            </NavLink>
        </div>

        <div class="nav-item" @onclick='() => GoToPage("page1")'>
            <NavLink class="nav-link" href="page1" @onclick:preventDefault=true>
                <span class="nav-text">Page1</span>
            </NavLink>
        </div>
    </nav>
</div>

