/*.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}*/

.nav-header {
    font-size: 1.8rem;
    color: white;
    margin-left: 15px;
    background-color: transparent;
}

.nav-link {
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 7px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
        text-decoration: none;
    }

    .nav-item ::deep a.active {
        background-color: rgba(255,255,255,0.1);
        /*box-shadow: 0 0 4px lightblue;*/
        color: white;
        animation: pulse 2.2s ease-in-out infinite;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
        box-shadow: 0 0 4px white;
        transition: .2s background-color;
    }

@keyframes pulse {
    0%   { box-shadow: 0 0 8px blue; }
    50%  { box-shadow: 0 0 15px blue; }
    100% { box-shadow: 0 0 8px blue; }
}
.nav-text {
    margin-left: 15px;
    font-size: 20px;
}
