@page "/page1"
@using cs2_scape.Components

<h3>Hello World from page1!</h3>

<InfoBox Title="What does this mean?">
    <p>This is a test of the InfoBox component.</p>
    <input type="checkbox" name="cb1" checked />
</InfoBox>