@page "/sensitivity"

<h3>Sensitivity Calculator</h3>

<InfoBox Title="Whats sensitivity and why calculate?">
    Your <strong>sensitivity</strong> is a measure of how much your crosshair moves when you move your mouse. It is usually measured in <strong>cm/360°</strong> or (especially in Counter-Strike) <strong>eDPI</strong>, however to use it in CS2 you'll need to convert it to a useable value.
    <br /><br /> <hr />
    Commonly used terms explained:
    <ul>
        <li><strong>cm/360° / inch/360°</strong> - How far you'd have to move your mouse (in cm / inch) to perform a 360 degree horizontal rotation in-game. This is the most common way to measure sensitivity.</li>
        <li><strong>eDPI</strong> - Effective DPI, the product of your mouse DPI and in-game sensitivity. This is the most common way to compare sensitivities in Counter-Strike.</li>
        <li><strong>DPI/CPI</strong> - Dots per Inch / Counts per Inch. These terms are used interchangably and represent, how often the mouse sensor reports a change in position over a length of 1 inch (2,54 cm)</li>

    </ul>
</InfoBox>

